{% extends 'base.html' %}
{% block title %}
Ингредиенты
{% endblock %}

{% block content %}

<div class="h1">
    <h1>Ингредиенты</h1>
</div>
<p class="small-text">Вы вошли в систему как {{ current_user.username }}</p>
<div><a class="btn btn-primary btn-lg right" href="{{ url_for('inventory.ingredient_new') }}" role="button">Добавить
        ингредиент</a>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="message">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Название</th>
            <th>Доступное количество</th>
            <th>Цена</th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
    </thead>
    {% for ingredient in ingredients %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.quantity_available }}</td>
        <td>{{ ingredient.unit_price_dollars }}.{{ ingredient.unit_price_cents }} руб. за {{ ingredient.unit }}</td>
        <td><a href="{{ url_for('inventory.ingredient_edit', ingredient_id=ingredient.id) }}"><button
                    class="btn btn-primary">Редактировать</button></a>
        </td>
        <td><a href="{{ url_for('inventory.ingredient_delete', ingredient_id=ingredient.id) }}">❌</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}