{% extends 'base.html' %}
{% block title %}
Удалить ингредиент
{% endblock %}
{% block content %}
<div class="h1">
    <h1>Удалить ингредиент</h1>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="message">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<p class="small-text">Вы вошли в систему как {{ current_user.username }}</p>
<form method="post" action="{{ url_for('inventory.ingredient_delete', ingredient_id=ingredient.id) }}">

    <p class="error">Вы уверены, что хотите удалить ингредиент "{{ ingredient }}"?</p>
    <input type="submit" name="yes" value="Удалить" class="btn btn-danger">
    <input type="submit" name="no" value="Оставить" class="btn btn-primary">
</form>
{% endblock %}