{% extends 'base.html' %}
{% block title %}
Удалить покупку
{% endblock %}
{% block content %}
<div class="h1">
    <h1>Удалить покупку</h1>
</div>
<p class="small-text">Вы вошли в систему как {{ current_user.username }}</p>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="message">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<form method="post" action="{{ url_for('inventory.purchase_delete', purchase_id=purchase.id) }}">
    <p class="error">Вы уверены, что хотите удалить покупку {{ purchase }}, сделанную в
        {{ purchase.time.strftime('%Y-%m-%d%H:%M:%S') }}</p>
    <input type="submit" name="yes" value="Удалить" class="btn btn-danger">
    <input type="submit" name="no" value="Оставить" class="btn btn-primary">
</form>
{% endblock %}